<head>
  <link href="http://vjs.zencdn.net/5.10.8/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/5.10.8/video.js"></script>
  <script>(function ($) {
    // Добавляем переменные
    var myPlayer = $('#my-video'),  // Наше видео
        aspectRatio = 9 / 16;  // Сечение плеера (коэффициент соотношения сторон)
  
    // Функция, меняющая соотношение
    function resizeVideoJS() {
      var myPlayerWidth = myPlayer.parent().outerWidth(), // Требуемая ширина
          myPlayerHeight = myPlayerWidth * aspectRatio; // Требуемая высота
  
      myPlayer.width(myPlayerWidth).height(myPlayerHeight); // Устанавливаем размеры
    }
  
    // При загрузке видео
    myPlayer.ready(function () {
      resizeVideoJS(); // Инициируем функцию
    });
  
    // При изменении ширины окна
    $(window).resize(function () {
      resizeVideoJS(); // Инициируем функцию
    });
  })(jQuery);</script>  
  <script src="video_script.js"></script>
  <title>Видеоплеер</title>
</head>

<body>
  
  <video
    id="my-video" 
    class="video-js vjs-default-skin"
    width="640"
    height="264"
    controls
    preload="none"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup="{}"
  >
    <source src="my_video.mp4" type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>

  <script src="https://vjs.zencdn.net/7.10.2/video.js"></script>
</body>